
@font-face{
    font-family: "Open Sans";
    src:
	local("Open Sans"),
	url("../fonts/open-sans.regular.ttf") format('truetype');
}


.hTextAnim {
    color: white;
    margin-left: auto;
    position: relative;
    animation: hTextMove 2s;
    animation-fill-mode:forwards;
}

.nTextAnim{
    color: white;
    margin-left: auto;
    position: relative;
    animation: nTextMove 2s;
    animation-fill-mode:forwards;
}


@keyframes hTextMove {
    from {top: -50px;}
    to   {top: 0px; color:black;}
}

@keyframes nTextMove {
    from {top: -60px;}
    to {top: 0px; color:black;}
}
